<div id="itemActionsBar" class="form">
  <button class="btn" data-toggle="modal" href="#addListValueModal" style="margin-right: 5px">Add New Value...</button>
  <button class="btn btn-danger" onclick="deleteKey('<%= key %>')">Delete Key</button>
  <div id="pageNav" class="input-append input-prepend">
    <button type="button" class="btn" onclick="loadKey('<%= key %>/0')" 
      <% if(beginning){%>disabled="disabled" <%}%>
    ><i class="icon-fast-backward"></i></button><button type="button" class="btn" onclick="loadKey('<%= key %>/<%= items[0].number - 20%>')" 
      <% if(beginning){%>disabled="disabled" <%}%>
    ><i class="icon-backward"></i></button><input class="span1" id="pageIndex" type="text" value="<%= items[0].number %>"></input><button id="gotoIndexButton" class="btn btn-primary" type="button" onclick="loadKey('<%= key%>/' + $('#pageIndex').val())">Goto Index</button><button type="button" class="btn" onclick="loadKey('<%= key %>/<%= items[items.length-1].number + 1%>')"
      <% if(end){%>disabled="disabled" <%}%>
    ><i class="icon-forward"></i></button><button type="button" class="btn" onclick="loadKey('<%= key %>/<%= length - 20 %>')"
      <% if(end){%>disabled="disabled" <%}%>
    ><i class="icon-fast-forward"></i></button>
  </div>
</div>
<div id="itemData">
  <table class="table">
    <thead>
      <th>#</th>
      <th>Value</th>
    </thead>
    <tbody>
      <% items.forEach(function(item) { %>
        <tr>
          <td><%= item.number %></td>
          <td><%= item.value %></td>
        </tr>
      <% }) %>
    </tbody>
   </table>
</div>
<div id="addListValueModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Add Value</h3>
  </div>
  <div class="modal-body">
    <form id="addListValueForm" action="/apiv1/listvalue/<%= key %>" method="POST" class="form-vertical">
      <label class="radio inline">
        <input id="typeLpush" type="radio" name="type" value="lpush" checked="checked"/>
        LPUSH
      </label>
      <label class="radio inline">
        <input id="typeRpush" type="radio" name="type" value="rpush"/>
        RPUSH
      </label>
      <br/>
      <h3>Value</h3>
      <textarea id="stringValue" name="stringValue" style="width: 500px; height: 250px;"></textarea>

      <br>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
    <button id="saveValueButton" class="btn btn-primary" onclick="$('#addListValueForm').submit()">Save</button>
  </div>
</div>