<div id="itemActionsBar">
  <% if (!redisReadOnly) { %>
  <button class="btn" data-toggle="modal" onclick="addHashField('<%= connectionId %>','<%= key %>')"
      style="margin-right: 5px">Add New Field...
  </button>
  <button class="btn btn-danger" onclick="deleteKey('<%= connectionId %>','<%= key %>')">Delete Key</button>
  <% } %>
  <button id="vieModeStringButton" class="btn" style="display:none;" onclick="onModeStringButtonClick()">View mode string</button>
  <button id="vieModeTreeButton" class="btn" onclick="onModeTreeButtonClick()">View mode tree</button>
</div>
<div id="itemData">
  <label>Key: <b><%= key %></b></label>
  <label>TTL: <b><%= ttl %></b></label>
  <label>Type: <b>Hash</b></label>
  <table class="table">
    <thead>
    <tr>
      <th>Field</th>
      <th colspan="2">Value</th>
    </tr>
    </thead>
    <tbody>
    <% for(var field in data) { %>
      <tr>
          <td><%= field %></td>
        <% console.log(field);%>
        <% console.log(data[field]);%>
          <td id="plain_<%= field %>"><%= data[field] %></td>
          <td id="jqtree_<%= field %>" style="display:none;">loading ...</td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    if (!redisReadOnly) {
      $('.table tbody tr').dblclick(function(event) {
        var connectionId = "<%= connectionId %>";
        var key = "<%= key %>";
        var row = event.currentTarget;
        var field = row.children[0].innerHTML.toString();
        var value = row.children[1].innerHTML.toString();

        editHashField(connectionId, key, field, value);
      });
    }

    createJSONTree();
  });

  function createJSONTree(){
    var jqtreeCollection = $('td[id^="jqtree_"]');
    for(var i=0; i<jqtreeCollection.length; i++){
      var current = $(jqtreeCollection[i]);
      var plain = current.prev().html();

      try{
        current.html(JSONTree.create(JSON.parse(plain)));
      }catch(e){
        current.html(plain);
      }
    }
  }

  function onModeStringButtonClick() {
      $('td[id^="plain_"]').css('display','inline-block');
      $('td[id^="jqtree_"]').css('display','none');

      $('#vieModeTreeButton').css('display','inline');
      $('#vieModeStringButton').css('display','none');
  }

  function onModeTreeButtonClick() {
      $('td[id^="plain_"]').css('display','none');
      $('td[id^="jqtree_"]').css('display','inline-block');

      $('#vieModeTreeButton').css('display','none');
      $('#vieModeStringButton').css('display','inline');
  }

</script>
