<div id="itemActionsBar">
  <button class="btn" data-toggle="modal" onclick="addSetMember('<%= connectionId %>','<%= key %>')"
          style="margin-right: 5px">Add New Member...
  </button>
  <button class="btn btn-danger" onclick="deleteKey('<%= connectionId %>','<%= key %>')">Delete Key</button>
</div>
<div id="itemData">
  <table class="table">
    <thead>
      <th>Member</th>
    </thead>
    <tbody>
      <% members.forEach(function(member) { %>
        <tr>
          <td><%= member %></td>
        </tr>
      <% }) %>
    </tbody>
   </table>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $('.table tbody tr').dblclick(function (event) {
      var row = event.currentTarget;
      var member = row.children[0].innerHTML.toString();
      var key = "<%= key %>";
      var connectionId = "<%= connectionId %>";
      editSetMember(connectionId, key, member);
    });
  });
</script>