<div id="itemActionsBar">
  <% if (!redisReadOnly) { %>
  <button class="btn btn-danger" onclick="deleteKey('<%= connectionId %>','<%= key %>')">Delete Key</button>
  <% } %>
</div>
<div id="itemData">
  <label>Key: <b><%= key %></b></label>
  <label>TTL: <b><%= ttl %></b></label>
  <label>Type: <b>String (Binary)</b></label>
  <!-- read only for now, no binary data editing -->
  <div class="binaryView">
    <div class="binaryView-offset">
    <% for (var pos in positions) { %>
      <b><%= positions[pos] %></b>
    <% } %>
    </div>
    <div class="binaryView-hex">
      <% for (var itemHex in value) {
           if (value.hasOwnProperty(itemHex)) { %>
      <span onclick="BinaryView.selectItem(this, '.binaryView-char')"><%= BinaryView.toHex(value[itemHex], 2) %></span>
      <%   }
         } %>
    </div>
    <div class="binaryView-char">
      <% for (var itemChar in value) {
           if (value.hasOwnProperty(itemChar)) { %>
      <span onclick="BinaryView.selectItem(this, '.binaryView-hex')"><%= BinaryView.toChar(value[itemChar]) %></span>
      <%   }
         } %>
    </div>
  </div>
  </span>
</div>

<script>
</script>
