<div id="itemActionsBar">
  <% if (!redisReadOnly) { %>
  <button class="btn" onclick="addKey('<%= connectionId %>','<%= key %>')" style="margin-right: 5px">Add New Key...</button>
  <button class="btn btn-danger" onclick="deleteBranch('<%= connectionId %>','<%= key %>')">Delete Branch</button>
  <% } %>
</div>
<div id="itemData" style="overflow: auto">
  <label>Key: <b><%= key %></b></label>
</div>
