<div id="itemActionsBar">
    <button
        id="copyTextButton"
        class="btn"
        data-clipboard-target="#stringValue"
    >
        Copy JSON
    </button>
    <button
        id="viewJSONButton"
        class="btn"
        onclick="showHideJSONTreeClick()"
    >
        View mode tree
    </button>
</div>
<div id="itemData">
    <label>Key: <b><%= key %></b></label>
    <label>Type: <b><% type %></b></label>
    <form
        id="editStringForm"
        action="apiv1/key/<%= connectionId %>/<%= key %>"
        method="POST"
        class="form-vertical"
    >
        <div id="jqtree_string_div" style="display: none;">loading ...</div>
        <span id="stringValueBox">
        <textarea
            id="stringValue"
            name="stringValue"
            style="width: 600px; height: 300px;"
        ><%= JSON.stringify(JSON.parse(value), null, 2) %></textarea>
        <br>
        </span>
        <br>
    </form>
</div>
<div id="itemTree">
    <label>Key: <b><%= key %></b></label>
    <label>Type: <b><% type %></b></label>
    <label>JSON Tree:</label>
    <div id="jsontree">
    </div>
</div>
<script>
    $('#itemTree').toggle();

    const jsonStr = $('#stringValue').val();
    try{
        const jsonObj = losslessJSON.parse(jsonStr);
        $('#jsontree').jsonViewer(jsonObj, {collapsed: true, withQuotes: false, withLinks: false, bigNumbers: true});
    } catch(e) {
        $('#jsontree').val("There are parsing error in JSON string: "+e.message);
    }

    function showHideJSONTreeClick() {
        const itemDataLength = $('#itemData:visible').length;
        console.log("click", itemDataLength);
        if (itemDataLength) {
            $('#itemData').toggle();
            $('#itemTree').toggle();
        } else {
            $('#itemTree').toggle();
            $('#itemData').toggle();
        }
    }

    new ClipboardJS('#copyTextButton');
</script>
