<div>
<h2>Export</h2>
<form class="form-horizontal medium-label" id="redisExportForm">
  <div class="control-group">
    <label class="control-label" for="connectionExportField">Connection</label>
    <div class="controls">
      <select id="connectionExportField" name="connection" class="redisDumpSelect">
        <% connections.forEach(function(connection, index) {%>
        <% if (index == 0) { %>
        <option value="<%=connection.conId %>"><%=connection.label%> (<%=connection.options.host%>:<%=connection.options.port%>:<%=connection.options.db %>)</option>
        <% } else { %>
        <option value="<%=connection.conId %>"><%=connection.label%> (<%=connection.options.host%>:<%=connection.options.port%>:<%=connection.options.db %>)</option>
        <% }}); %>
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="exportKeyPrefix">Key Prefix to Export</label>
    <div class="controls">
      <input id="exportKeyPrefix" name="keyPrefix" type="text" class="span10"/>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Data type</label>
    <div class="controls">
      <label class="radio">
        <input type="radio" name="type" value="redis" checked>
        Redis
      </label>
      <label class="radio">
        <input type="radio" name="type" value="dump-base64">
        Redis DUMP (Base64-encoded)
      </label>
      <label class="radio">
        <input type="radio" name="type" value="json">
        JSON
      </label>
    </div>
  </div>
  <!--<div class="control-group">
    <label class="control-label" for="compressExportField">Compress</label>
    <div class="controls">
      <input type="checkbox" name="compress" value="1" id="compressExportField">
    </div>
  </div>-->
  <div class="control-group">
    <div class="controls">
      <input type="submit" class="btn btn-primary" value="Export">
    </div>
  </div>
</form>
</div>
